<!-- _includes/icons.html -->

{% if site.social.mail %}
  <a href="mailto:{{ site.social.mail }}">
    <span class="fas fa-2x fa-envelope"></span>
  </a>
{% endif %}

{% if site.social.twitter %}
  <a href="https://twitter.com/{{ site.social.twitter }}">
    <span class="fab fa-2x fa-twitter "></span>
  </a>
{% endif %}

{% if site.social.rss %} 
  <a href="{{ 'feed.xml' | absolute_url }}">
    <span class="fas fa-2x fa-rss"></span>
  </a>
{% endif %}

{% if site.social.behance %}
  <a href="https://www.behance.net/{{ site.social.behance }}">
    <span class="fab fa-2x fa-behance-square"></span>
  </a>
{% endif %}

{% if site.social.bitbucket %}
  <a href="https://bitbucket.org/{{ site.social.bitbucket }}">
    <span class="fab fa-2x fa-bitbucket"></span>
  </a>
{% endif %}

{% if site.social.dribbble %}
  <a href="https://dribble.com/{{ site.social.dribbble }}">
    <span class="fab fa-2x fa-dribble"></span>
  </a>
{% endif %}

{% if site.social.facebook %}
  <a href="https://www.facebook.com/{{ site.social.facebook }}">
    <span class="fab fa-2x fa-facebook"></span>
  </a>
{% endif %}

{% if site.social.flickr %}
  <a href="https://www.flickr.com/photos/{{ site.social.flickr }}">
    <span class="fab fa-2x fa-flickr"></span>
  </a>
{% endif %}

{% if site.social.gitlab %}
  <a href="https://gitlab.com/{{ site.social.gitlab }}">
    <span class="fab fa-2x fa-gitlab"></span>
  </a>
{% endif %}

{% if site.social.github %}
  <a href="https://github.com/{{ site.social.github }}">
    <span class="fab fa-2x fa-github"></span>
  </a>
{% endif %}

{% if site.social.instagram %}
  <a href="http://instagram.com/{{ site.social.instagram }}">
    <span class="fab fa-2x fa-instagram"></span>
  </a>
{% endif %}

{% if site.social.keybase %}
  <a href="https://keybase.io/{{ site.social.keybase }}">
    <span class="fab fa-2x fa-keybase"></span>
  </a>
{% endif %}

{% if site.social.linkedin %}
  <a href="{{ site.social.linkedin }}">
    <span class="fab fa-2x fa-linkedin"></span>
  </a>
{% endif %}

{% if site.social.pinterest %}
  <a href="http://www.pinterest.com/{{ site.social.pinterest }}">
    <span class="fab fa-2x fa-pinterest"></span>
  </a>
{% endif %}

{% if site.social.researchgate %}
  <a href="{{ site.social.researchgate }}">
    <span class="fab fa-2x fa-researchgate"></span>
  </a>
{% endif %}

{% if site.social.reddit %}
  <a href="https://www.reddit.com/user/{{ site.social.reddit }}">
    <span class="fab fa-2x fa-reddit"></span>
  </a>
{% endif %}

{% if site.social.soundcloud %}
  <a href="https://soundcloud.com/{{ site.social.soundcloud }}">
    <span class="fab fa-2x fa-soundcloud"></span>
  </a>
{% endif %}

{% if site.social.stack_exchange %}
  <a href="{{ site.social.stack_exchange }}">
    <span class="fab fa-2x fa-stack-exchange"></span>
  </a>
{% endif %}

{% if site.social.tumblr %}
  <a href="http://{{ site.social.tumblr }}.tumblr.com/">
    <span class="fab fa-2x tumblr-square"></span>
  </a>
{% endif %}

{% if site.social.vimeo %}
  <a href="https://vimeo.com/{{ site.social.vimeo }}">
    <span class="fab fa-2x fa-vimeo"></span>
  </a>
{% endif %}

{% if site.social.wordpress %}
  <a href="https://{{ site.social.wordpress }}.wordpress.com/">
    <span class="fab fa-2x fa-wordpress-simple"></span>
  </a>
{% endif %}

{% if site.social.youtube %}
  <a href="https:/www.youtube.com/user/{{ site.social.youtube }}">
    <span class="fab fa-2x fa-youtube"></span>
  </a>
{% endif %}

<!-- _includes/icons.html EOF-->
